body {
  background-color: rgb(165, 209, 234);
  font-family: "Bitcount Single Ink", sans-serif;
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea,
select {
  width: 20rem;
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid white;
  padding: 0.25rem;
  color: bisque;
}

form {
  width: 30rem;
  margin: 3rem auto;
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 6px;
}

input:focus,
textarea:focus {
  background-color: rgb(166, 216, 216);
  color: beige;
  border-color: antiquewhite;
}

button {
  display: block;
  font: inherit;
  background-color: azure;
  color: white;
  border: 1px rgb(46, 133, 203);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(152, 195, 233);
  border-color: aqua;
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin-right: 0.5rem;
}

h1 {
  text-align: center;
  color: wheat;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}
