body {
  font-family: sans-serif;
  background-color: rgb(249, 233, 255);
}

h1 {
  text-align: center;
  margin: 2rem;
}
form {
  width: 40rem;
  margin: auto;
  background-color: rgb(223, 162, 225);
  padding: 1rem;
  box-shadow: 0 2px 8px rgb(174, 163, 176);
  border-radius: 6px;
}

.closing {
  margin-bottom: 10px;
  background-color: aliceblue;
}
